{{ define "main" }}
<main role="main" class="container">

<h3 class="pb-4 mb-4 font-italic border-bottom">
  {{ .Title }}
</h3>

<p>
  {{ .Content }}
</p>

<div class="row mb-12">

  {{ range .Pages }}
  <div class="col-md-12">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        {{ range .Params.tags }}
        <strong class="d-inline-block mb-2 text-primary"><small>{{ . }}</small></strong>
        {{ end }}

        <h3 class="mb-0">{{ .Title }}</h3>
        <div class="mb-1 text-muted">{{ .Date.Format "January 2, 2006" }}</div>

        <p class="card-text mb-auto">
          {{ .Summary }}
        </p>

        <a href="{{ .Permalink }}" class="stretched-link">Continue reading...</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <!--<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>-->
      </div>
    </div>
  </div>
  {{ end }}
</div>

</main>
{{ end }}
