<div class="row">
  <div class="col-12 col-md">
    <!--<img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">-->
    <small class="d-block mb-3 text-muted">&copy; 2020 Saskatchewan Blockchain Association Inc.</small>
  </div>

  <div class="col-6 col-md">
    <h5>Resources</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="{{ ref . "about.md" }}">About us</a></li>
      <li><a class="text-muted" href="{{ ref . "membership.md" }}">Membership</a></li>
      <li><a class="text-muted" href="{{ ref . "sponsorship.md" }}">Sponsorships</a></li>
      <li><a class="text-muted" href="{{ ref . "events" }}">Events</a></li>
      <li><a class="text-muted" href="{{ ref . "news" }}">News</a></li>
    </ul>
  </div>

  <div class="col-6 col-md">
    <h5>Connect</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" target="_blank" rel="noopener" href="https://forms.gle/U3aRCd4kSFcrj1Dz8">Contact us</a></li>
      <li><a class="text-muted" target="_blank" rel="noopener" href="{{ .Site.Params.slack }}">Slack</a></li>
      <li><a class="text-muted" target="_blank" rel="noopener" href="{{ .Site.Params.facebook }}">Facebook</a></li>
      <li><a class="text-muted" target="_blank" rel="noopener" href="{{ .Site.Params.twitter }}">Twitter</a></li>
      <li><a class="text-muted" target="_blank" rel="noopener" href="{{ .Site.Params.instagram }}">Instagram</a></li>
      <li><a class="text-muted" target="_blank" rel="noopener" href="{{ .Site.Params.github }}">Github</a></li>
    </ul>
  </div>

</div>
