<header class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-10 text-center">
      <img src="/images/logo.png" id="brand-logo" />&nbsp;
      <a class="blog-header-logo" id="brand-link" href="/">{{ .Site.Title }}</a>
    </div>
    <div class="col-2 d-flex justify-content-end align-items-center">
      <a class="btn btn-sm btn-outline-secondary" href="{{ ref . "join.md" }}">Join Us</a>
    </div>
  </div>
</header>

<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" href="{{ ref . "about.md" }}">About us</a>
    <a class="p-2 text-muted" href="{{ ref . "membership.md" }}">Membership</a>
    <a class="p-2 text-muted" href="{{ ref . "events" }}">Events</a>
    <a class="p-2 text-muted" href="{{ ref . "news" }}">News Releases</a>
  </nav>
</div>
