{{ define "main" }}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-12 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        {{ .Title }}
      </h3>

      <div class="blog-post">
        <p class="blog-post">
        Event date: <strong>{{ dateFormat "January 2, 2006 15:04" .Params.eventDate }}</strong>
        <br />
        Location: {{ .Params.eventLocation }}

        {{ if .Params.eventURL }}
          <br />
          <a href="{{ .Params.eventURL }}" target="_blank" rel="noopener">
            <button type="button" class="btn btn-outline-primary">
              Event Link
            </button>
          </a>
        {{ end }}

        <p>
          {{ .Content }}
        </p>
      </div>

    </div>
  </div>
</main>
{{ end }}


